<div class="navbar-fixed" ng-controller="NavbarController">
  <nav>
    <div class="nav-wrapper blue darken-4" style="text-align: center;">
      <ul class="left">
        <li><a data-activates="slide-out" class="button-collapse" style="margin: 0;"><i class="material-icons">menu</i></a></li>
      </ul>
      <span class="nav_title">WAVEZ 2k17</span>
      <ul class="right">
        <li><a href="/"><i class="material-icons">link</i></a></li>
        <li><a href="/"><i class="material-icons">link</i></a></li>
        <li><a href="/"><i class="material-icons">link</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<ul id="slide-out" class="side-nav fixed">
  <li style="margin-bottom: 73px;"><a href="/" style="padding: 0px;background-color: #FFFFFF;"><img src="assets/images/logo1.png" width="100%"></a></li>
  <li><div class="divider"></div></li>
  <li><a href="/" class="waves-effect main_nav_button">Login</a></li>
  <li><a href="/" class="waves-effect main_nav_button">Register</a></li>
  <li><div class="divider"></div></li>
  <li ui-sref-active="active"><a class="waves-effect main_nav_button" ui-sref="main">Home</a></li>
  <li ui-sref-active="active"><a class="waves-effect main_nav_button" ui-sref="about">About</a></li>
  <li ui-sref-active="active" class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li ui-sref-active="active"><a class="collapsible-header waves-effect main_nav_button" ui-sref="events">Events</a>
        <div class="collapsible-body">
          <ul>
            <li ui-sref-active="active"><a class="sub_nav_button" ui-sref="roboceana">RoboOceana</a></li>
            <li ui-sref-active="active"><a class="sub_nav_button" ui-sref="rcboats">R C Boats</a></li>
          </ul>
        </div>
      </li>
      <li><a class="collapsible-header waves-effect main_nav_button">Reaching</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/" class="sub_nav_button">Road</a></li>
            <li><a href="/" class="sub_nav_button">Rail</a></li>
            <li><a href="/" class="sub_nav_button">Air</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a class="waves-effect main_nav_button" href="/">Gallery</a></li>
  <li><a class="waves-effect main_nav_button" href="/">Sponsors</a></li>
  <li ui-sref-active="active"><a class="waves-effect main_nav_button" ui-sref="contact">Contact</a></li>
</ul>
<script type="text/javascript">
  $(".button-collapse").sideNav({
    menuWidth: 200,
    draggable: true
  });
  $('.collapsible').collapsible();
</script>