<br>
<br>
<div class="content_space">
	<h1 class="main_heading" ng-show="kryptxCtrl.rules" style="overflow-x: hidden;">
		Kryptx Rules
	</h1>
	<h1 class="main_heading" ng-hide="kryptxCtrl.rules" style="overflow-x: hidden;">
		Kryptx{{'&nbsp;-&nbsp;Q' + (kryptxCtrl.currentIndex+1)}}
	</h1>
	<div class="card-panel z-depth-4 animated slideInUp event_caption left_align" ng-show="kryptxCtrl.rules">
		<p class="p_content" style="text-align: center;">Questions can be answered only once.</p>
		<p class="p_content" style="text-align: center;">One who answers earlier will be considered upon a tie.</p>
		<div style="padding: 20px; text-align: center;">
            <a class="waves-effect waves-light blue darken-4 btn" ng-click="kryptxCtrl.rules=false">Play</a>
        </div>
	</div>
	<div class="card-panel z-depth-4 animated fadeIn event_caption" ng-hide="kryptxCtrl.rules">
		<div class="row" style="padding: 20px;">
        	<div class="col s6 m6 l6">
        		<a class="btn waves-effect waves-light blue darken-2" ng-click="kryptxCtrl.currentIndex = kryptxCtrl.currentIndex - 1" ng-hide="kryptxCtrl.currentIndex==0"><i class="material-icons left">arrow_back</i>Previous</a>
        	</div>
        	<div class="col s6 m6 l6">
        		<a class="btn waves-effect waves-light blue darken-2" ng-click="kryptxCtrl.currentIndex = kryptxCtrl.currentIndex + 1" ng-hide="kryptxCtrl.currentIndex==11"><i class="material-icons right">arrow_forward</i>Next</a>
        	</div>
        </div>
        <div class="row">
        	<div class="col s12 l12 m12" ng-bind-html="kryptxCtrl.questions[kryptxCtrl.currentIndex].stmt">
				
        	</div>	
        </div>
		<div class="row" ng-hide="kryptxCtrl.questions[kryptxCtrl.currentIndex].answered">
			<div class="input-field col s12 offset-l4 l4 offset-m3 m6">
	          <input placeholder="Answer" type="text" ng-model='kryptxCtrl.Answer'>
	        </div>
        </div>
        <div style="padding: 20px;" ng-hide="kryptxCtrl.questions[kryptxCtrl.currentIndex].answered">
        	<a class="waves-effect waves-light blue darken-4 btn" ng-click="kryptxCtrl.Submit()">Submit</a>
        </div>
        <div ng-show="kryptxCtrl.questions[kryptxCtrl.currentIndex].answered">
        	<h5>Response recorded !</h5>
        </div>
	</div>
</div>
